In [1]:
import pandas as pd
import os
from datetime import datetime
import utils.data_utils as data_utils
from collections import defaultdict

LONG_TERM_ACTIONS = ['walking', 'eating', 'smoking', 'discussion']
ACTIONS = data_utils.define_actions('all')
ACTIONS.sort(key=len)

In [2]:
def extend_df(df, long_term=True):
    if long_term:
        actions = LONG_TERM_ACTIONS
        time_lens = [560, 1000]
    else:
        actions = ACTIONS
        time_lens = [80, 160, 320, 400]
    columns_mapping = defaultdict(list)
    for time_len in time_lens:
        for action_name in actions:
            columns_mapping['3d' + str(time_len)].append(action_name + '3d' + str(time_len))

    for key in columns_mapping:
        df[key] = df[columns_mapping[key]].mean(axis=1)
    
    return list(columns_mapping.keys())

In [3]:
df = pd.read_csv('checkpoint/pretrained/main_3d_3D_in10_out25_04-10-2020-17:00:02.csv')
cols_original = df.columns
added_cols = extend_df(df, long_term=True)
df = df.sort_values(by='v_3d')

In [4]:
df[['epoch', 'lr', 't_l', 'v_3d']+added_cols].head(10)

    epoch        lr        t_l       v_3d      3d560     3d1000
49   50.0  0.000180  52.397865  46.978820  49.074343  68.314832
39   40.0  0.000221  52.918816  47.048924  50.641135  69.517292
38   39.0  0.000230  52.992684  47.101284  49.281880  69.349911
47   48.0  0.000188  52.491142  47.134230  49.236259  69.760345
41   42.0  0.000212  52.808897  47.152103  48.974673  69.161011
36   37.0  0.000240  53.098090  47.276089  49.782590  68.514855
29   30.0  0.000271  53.676240  47.322005  49.772657  70.096183
25   26.0  0.000294  54.053578  47.359980  50.097933  69.177020
33   34.0  0.000250  53.331068  47.397984  50.461226  69.507124
48   49.0  0.000188  52.451151  47.404800  49.196888  68.129005

In [5]:
df = pd.read_csv('checkpoint/pretrained/main_3d_3D_in10_out10_08-10-2020-21:46:23.csv')
cols_original = df.columns
added_cols = extend_df(df, long_term=False)
df = df.sort_values(by='v_3d')

In [6]:
df[['epoch', 'lr', 't_l', 'v_3d']+added_cols].head(10)

,epoch,lr,t_l,v_3d,3d80,3d160,3d320,3d400
49,50.0,0.000180,22.734749,17.615178,11.574442,24.451011,50.191438,60.630009
45,46.0,0.000196,22.833012,17.810070,11.486269,24.516701,50.361153,60.672546
37,38.0,0.000230,23.121905,17.899256,11.648798,24.610767,50.657211,61.336910
41,42.0,0.000212,22.985311,17.908646,11.630301,24.556026,50.541819,61.065535
48,49.0,0.000188,22.767453,17.916329,11.837752,24.879865,50.697688,61.069303
46,47.0,0.000196,22.826134,17.953701,11.654271,24.659721,50.729835,61.100108
36,37.0,0.000240,23.159861,17.979087,11.553965,24.499389,50.215027,60.557812
40,41.0,0.000221,23.019340,18.046505,11.776085,24.977706,51.290730,61.735069
26,27.0,0.000294,23.677910,18.069333,11.786634,24.920225,51.257892,61.733473
43,44.0,0.000204,22.907603,18.080904,11.714252,24.690816,50.759070,61.137585

In [7]:
# Here, we are showing results over 1 single run but it is recommended to run multiple times 
# and average the results over all runs. Results in the paper are averaged over 5 runs.